html {
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--darken-2);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: thin dotted rgba(0, 0, 0, .25);
  outline-offset: .125em;
}

body {
  margin: 0;
  font-family: var(--base-font, sans-serif);

  color: var(--baseFg);
  background: var(--baseBg);

  max-height: 100vh;
  max-width: 100vw;
  //overflow: hidden;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  margin: .25em 1em;
  text-shadow: .025rem .025rem rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1.0625em;
}

p {
  margin: .25em 0;
}

.visually-hidden { // https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

code {
  font-family: var(--font-mono);
}

dt {
  font-weight: bold;
}

.todo {
  padding: .25em;
  margin: 1em;
  border-radius: .25em;
  box-shadow:
          0 0 0 1pt currentColor,
          .2em .2em .125em red,
          .3em .3em .125em orange,
          .4em .4em .125em green,
          .5em .5em .125em teal,
          .6em .6em .125em blue,
          .7em .7em .125em indigo,
          .8em .8em .125em magenta;
  &::before {
    content: 'TODO: ';
  }
}
