main > section > article {

  .caniuse {
    --caniuse-supported: #32ac41;
    --caniuse-partial: #9eb40b;
    --caniuse-not-supported: #bc392a;
    --caniuse-not-found: transparent;
  }

  table.caniuse {
    width: 100%;
    empty-cells: hide;
    border-collapse: collapse;
    caption-side: top;

    tbody, thead {
      font-size: 80%;
    }

    thead td {
      border-top-color: transparent;
      border-left-color: transparent;
    }

    th {
      font-weight: normal;
    }

    th, td {
      padding: .125em;
      border: thin solid hsla(0, 100%, 100%, .9);

      img {
        max-width: 3.5em;
        max-height: 3.5em;
      }
      figcaption {
        display: none;
      }
    }

    td {
      text-align: center;

      &.y {
        background: var(--caniuse-supported);
      }

      &.a {
        background: var(--caniuse-partial);
      }

      &.p, &.n {
        background: var(--caniuse-not-supported);
      }
    }
  }

  ul.caniuse {
    color: var(--colLight);

    li {
      padding: .125em .25em;
      border-radius: .125em;
    }

    .y {
      background: var(--caniuse-supported);
    }

    .a {
      background: var(--caniuse-partial);
    }

    .n, .p {
      background: var(--caniuse-not-supported);
    }
  }

}