main > section > article {

  .caniuse {
    --caniuse-supported: var(--colValid);
    --caniuse-partial: var(--colMostValid);
    --caniuse-not-supported: var(--colInvalid);
    --caniuse-not-found: transparent;
  }

  table.caniuse {
    width: 100%;
    empty-cells: hide;
    border-collapse: collapse;
    caption-side: top;

    tbody, thead {
      font-size: 80%;
    }

    thead td {
      border-top-color: transparent;
      border-left-color: transparent;
    }

    thead th {
      border-top: none;

    }
    tbody th {
      border-top: none;
      border-left: none;
    }


    tbody tr:nth-child(odd) {
      background: rgba(0, 0, 0, .1);
    }
    tbody tr:nth-child(even) {
      border-bottom-color: hsla(0, 100%, 100%, .2);
    }

    th {
      font-weight: normal;
    }

    th + th {
      border-left: white;
      border-right: white;
    }

    th, td {
      padding: .125em;
      border-color: transparent;

      img {
        max-width: 3.5em;
        max-height: 3.5em;
      }

      figcaption {
        display: none;
      }
    }

    td {
      text-align: center;

      &.y {
        background: var(--caniuse-supported);
      }

      &.a {
        background: var(--caniuse-partial);
      }

      &.p, &.n {
        background: var(--caniuse-not-supported);
      }
    }
  }

  ul.caniuse {
    color: var(--colLight);

    li {
      padding: .125em .25em;
      border-radius: .125em;
    }

    .y {
      background: var(--caniuse-supported);
    }

    .a {
      background: var(--caniuse-partial);
    }

    .n, .p {
      background: var(--caniuse-not-supported);
    }
  }

}