main > section > article {

  .charts.bar {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    .body {
      min-width: 100%;
      margin-right: 2ch;
      display: inline-grid;
      grid-gap: .5em;
      grid-template-columns: auto 1fr auto;
      align-items: center;

      label {
        grid-column: 1 / 1;
        text-align: right;
        max-width: 20vw;
      }

      meter {
        background-color: currentColor;
        margin: 0;
        padding: 0;
        grid-column-start: 2;
        grid-column-end: -2;
        height: .66em;
        width: calc(100% * var(--value) / var(--scale));

        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 1s ease-out;
      }

      .info {
        font-family: var(--font-mono);
        font-size: 66%;
        text-align: right;
      }
    }

    .caption {
      text-align: center;
      margin: .5em 0;
      font-weight: bold;
    }
  }
}

main > section:target > article .charts.bar .body meter {
  transform: scaleX(1);
}
