main > section > article {

  pre[class*=language-] {
    box-shadow: .25em .25em .5em rgba(0, 0, 0, .5);
    padding: .25em;
    border-radius: .25em;
    font-size: 75%;

    code[class*=language-] {
      font-family: var(--font-mono);

      span {
        height: 1.2em;
      }

      .token.operator {
        background: none;
      }
    }
    // TODO logo top left
  }
}