main > section > article {

  figure {
    margin: 0;
    max-height: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 0;
      object-fit: contain;
      max-height: calc(100% - 2em);
      max-width: 100%;
    }

    figcaption {
      flex: 0 0 auto;
      text-align: center;
    }
  }
}