main > section > article {

  ul, ol, dl {
    list-style: none;

    &.list-inline {
      display: flex;
      justify-content: space-around;
      align-self: stretch;
    }

    &.bullet {
      list-style: circle;
    }
  }

}