main > section > article {

  .notice {
    border: medium solid currentColor;
    border-radius: .125em;
    align-self: stretch;
    margin: .125rem 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;


    header {
      font-weight: bold;
      padding: .25em;
    }

    .notice-body {
      padding: .25em;
      color: var(--baseFg);
    }

    // icons
    &::before {
      grid-row: 1 / -1;
      float: left;
      padding: .25em;
      justify-self: stretch;
      text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
      background: currentColor;
    }

    &.notice-tips::before {
      content: '✨';
    }

    &.notice-info::before {
      content: 'ℹ️';
    }

    &.notice-warning::before {
      content: '⚠️';
    }

    &.notice-danger::before {
      content: '🚨';
    }

    // style
    &.notice-tips {
      background: rgba(34, 139, 34, .1);
      color: rgba(34, 139, 34, .9);
    }

    &.notice-info {
      background: rgba(0, 0, 139, .1);
      color: rgba(0, 0, 139, .9);
    }

    &.notice-warning {
      background: rgba(184, 134, 11, .1);
      color: rgba(184, 134, 11, .9);
    }

    &.notice-danger {
      background: rgba(135, 12, 12, .1);
      color: rgba(135, 12, 12, 0.9);
    }
  }
}