@media print {

  @page {
    size: landscape;
  }


  .no-print {
    display: none;
  }

  body {
    overflow-y: scroll;
  }


  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  main > section {
    width: calc(100vw - 2em);
    height: calc(100vh - 2em);

    position: relative;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .5);
    page-break-before: always;
    page-break-after: always;
    page-break-inside: avoid;

    & > nav {
      display: none;
    }

    & > article {
      overflow: hidden;
      padding: .5em;
    }

    &.steps {
      .step, .step-current, .step-done {
        opacity: 1;
      }
    }
  }
}