main > section > article {
  .qrcode {
    font-size: 50%;
    display: grid;
    grid-template-columns: repeat(45, 1fr);
    grid-template-rows: repeat(45, 1fr);

    .light, .dark {
      display: block;
      width: 1ch;
      height: 1ch;
    }

    .light {
      background: white;
    }

    .dark {
      background: black;
    }
  }
}