
main > section {
  counter-increment: slide;

  header::after {
    content: "#" counter(slide);
    background: var(--counterBg);
    color: var(--counterFg);
    font-family: var(--font-counter);
    margin: .25em 1em;
    font-size: 1.25em;
    float: right;
  }

}