
main > section > nav {
  color: rgba(0, 0, 0, .05);
  display: flex;
  justify-content: center;
  align-items: stretch;


  &:hover {
    background: rgba(0, 0, 0, .05);
  }

  a {
    padding: 1em;
    font-size: 2em;
    color: inherit;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  a, a:hover {
    text-decoration: none;
  }

  a:focus, a:hover {
    opacity: .5;
  }

  a::before {
    //content: '☞';
    content: '›';
  }

  &.previous {
    transform: scaleX(-1);

    a:hover {
      cursor: w-resize;
    }
  }

  &.next {
    a:hover {
      cursor: e-resize;
    }
  }

}
