main > section > article {

  table {
    width: 100%;
    empty-cells: hide;

    caption {
      text-align: center;
    }

    th, td {
      padding: .125em;
      border: thin solid hsla(0, 100%, 100%, .1);
    }
  }

}