main > section > article {

  table {
    width: 100%;
    empty-cells: hide;
    border-collapse: collapse;
    caption-side: bottom;

    caption {
      text-align: center;
      margin: .5em 0;
      font-weight: bold;
    }

    tbody tr td{
      border: thin solid hsla(0, 100%, 100%, .1);
    }
    tbody th {
      background: rgba(0, 0, 0, .05);
    }

    tbody tr:nth-child(odd) {
      background: rgba(0, 0, 0, .05);

      td {
        border-bottom-color: hsla(0, 100%, 100%, .2);
      }
    }

    th, td {
      padding: .125em;

      img {
        max-width: 3.5em;
        width: 3.5em;
        max-height: 3.5em;
      }
      figcaption {
        display: none;
      }
    }

    td {
      // by default expected a number
      text-align: right;
    }
  }
}