
body > nav.toc-menu {
  position: fixed;
  top: .125em;
  left: .125em;
  z-index: 10;

  & > ul {
    display: none;
    padding: .25em;
    flex-direction: column;
    max-height: calc(100vh - 3rem);
    overflow: auto;

    border: thin solid currentColor;
    border-radius: .25em;
    box-shadow: .25em .25em .5em rgba(0, 0, 0, .5);

    font-size: 33%;
    background: var(--tocBg);
    color: var(--tocFg);

    list-style: none;

    li {
      margin: .25em 0;
      padding-left: 1ch;

      &.cover {
        padding-left: 0;
        font-weight: bold;
      }

      &.part {
        padding-left: .5ch;
        font-weight: bold;
      }

      a {
        color: inherit;

        h1, h2, h3, h4, h5, h6 {
          margin: 0;
          font-family: var(--system-font);
          color: inherit;
          text-shadow: none;
        }
      }
    }
  }

  label {
    opacity: .25;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all .4s;

    &:hover, &:focus {
      opacity: 1;
    }

    &::before {
      content: '⎈';
      line-height: 1;
      transform: scale(1.1);
    }
  }

  input[type=checkbox]:checked ~ label {
    &::before {
      content: '✕';
    }
  }

  input[type=checkbox]:checked ~ ul {
    display: flex;
  }
}