:root {
  --monkeyBof: #00b0ff;

  // Footer
  --footerText: '@ilaborie @toulousejug #loop';
}


main > section > article {
  justify-content: space-evenly;

  pre[class*=language-] {
    padding-left: .5em;
    width: calc(100% - 1em);
    overflow: auto;
    align-self: center;
    white-space: pre-wrap;
  }
}

h1, h2, h3, h4, h5, h6 {
  code {
    border-radius: .125em;
    padding: .125em;
    background-color: rgba(0, 0, 0, .1);
    font-weight: normal;
  }
}

h1 {
  text-align: center;
}


#speaker {
  .previous, .next, article {
    background: var(--monkeyBof);
    color: white;
  }

  footer {
    display: none;
  }

  article figure {
    svg {
      width: 33vw;
    }

    figcaption {
      display: none;
    }
  }

}

#quizz_1 article {
  justify-content: center;
  align-items: center;

  pre.language-java::after {
    display: none;
  }

}

.steps.steps-replace {
  .step {
    display: none;
    max-width: 100%;

    &.step-current {
      display: block;
    }
  }
}

#parcours article, #filtre___sortie_rapide article {
  ul {
    font-size: 80%;
  }
}

#recursion_non_terminale article, #recursion_terminale article {
  font-size: 60%;

  & > ul {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
    grid-gap: 1em 1ch;


    .stack {
      display: grid;
      grid-auto-rows: 1rem;
      justify-items: center;
      background: var(--col2);
      border: thin solid rgba(0, 0, 0, .25);

      li {
        padding: .125em;
        border: thin solid rgba(0, 0, 0, .25);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

#recursion_terminale article > ul {
  grid-template-columns: 1fr;
}

#recursion_terminale___java {
  article, nav {
    background: black;
  }

  article {
    font-family: "Press Start 2P", monospace;
  }

  h4 {
    font-family: "Press Start 2P", monospace;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    margin: 0;

    color: #2f99ff;
    text-shadow: 0px 2px #255fcc;
    animation: glitch-1 2s infinite linear;
  }

  span {
    color: white;
    text-transform: uppercase;
    text-align: center;
    animation: glitch-2 2s infinite linear;
  }

}

@keyframes glitch-1 {
  0%, 12%, 15%, 52%, 55%, 82%, 85%, 100% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
  13% {
    opacity: .8;
    transform: scaleY(2);
    color: #0ff;
  }
  53% {
    opacity: .8;
    transform: scaleX(.7);
    color: #f0f;
  }
  83% {
    opacity: 8;
    transform: rotate(-10deg);
    color: #ff0;
  }
}

@keyframes glitch-2 {
  13% {
    color: #0ff;
  }
  53% {
    color: #f0f;
  }
  83% {
    color: #ff0;
  }
}

#principe__recursion_terminale article {

  .language-javascript::after {
    content: unset;
  }
}

#stream_is_lazy article {

  li pre {
    text-align: left;
    background: #2b2b2b;
    color: #a9b7c6;
    padding: .25em;
    border-radius: .25em;
  }

  li {
    position: relative;
  }

  li.step-done::after {
    position: absolute;
    content: '✘';
    color: firebrick;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
  }
}

#sloth {
  background: url('sloth.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#operations_paresseuses___terminales {

  dt {
    font-weight: bold;
  }

  dd {
    display: inline;
    margin-left: 0;
  }

  dt + dd {
    margin-left: 2ch;
  }

  dd + dd::before {
    content: ', ';
  }

  dd + dt {
    margin-top: 1em;
  }
}


#flatmap_2_2 article {

  ul {
    display: flex;

    li {
      margin: .5em;
    }
  }

  .focus {
    border: .1em solid darkorange;
  }

  .block {
    background-color: hsl(205, 100%, 82%);
    padding: .5em;
    border-radius: .25em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .block {
      background-color: hsl(121, 27%, 65%);
    }

    span {
      border-radius: .125em;
      padding: .25em;
      margin: .125rem;
      color: white;
      background-color: rgba(0, 0, 0, .5);
      text-align: center;

    }
  }
}

#bilan_stream article,
#bilan_stream___java article,
#kotlin_3_3 article,
#scala_3_4 article,
#scala_4_4 article{
  h4 {
    font-size: 2.5em;
  }
}


#mon_avis article {
  ol {
    margin: 0;
  }
}
