:root {
  --monkeyBof: #00b0ff;

  // Footer
  --footerText: '@ilaborie @toulousejug #flatmap';
}


h1, h2, h3, h4, h5, h6 {
  code {
    border-radius: .125em;
    padding: .125em;
    background-color: rgba(0, 0, 0, .1);
    font-weight: normal;
  }
}

h1 {
  text-align: center;
}

main > section > header::after {
  font-size: .5em;
}

.charts.bar .body label {

  .java::before, .kotlin::before, .scala::before {
    content: '';
    width: 1em;
    height: 1em;
    font-size: 80%;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .java::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg1MCIgaGVpZ2h0PSIyNTAwIiB2aWV3Qm94PSIwIDAgMjU2IDM0NiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij48cGF0aCBkPSJNODIuNTU0IDI2Ny40NzNzLTEzLjE5OCA3LjY3NSA5LjM5MyAxMC4yNzJjMjcuMzY5IDMuMTIyIDQxLjM1NiAyLjY3NSA3MS41MTctMy4wMzQgMCAwIDcuOTMgNC45NzIgMTkuMDAzIDkuMjc5LTY3LjYxMSAyOC45NzctMTUzLjAxOS0xLjY3OS05OS45MTMtMTYuNTE3bS04LjI2Mi0zNy44MTRzLTE0LjgwMyAxMC45NTggNy44MDUgMTMuMjk2YzI5LjIzNiAzLjAxNiA1Mi4zMjQgMy4yNjMgOTIuMjc2LTQuNDMgMCAwIDUuNTI2IDUuNjAyIDE0LjIxNSA4LjY2Ni04MS43NDcgMjMuOTA0LTE3Mi43OTggMS44ODUtMTE0LjI5Ni0xNy41MzIiIGZpbGw9IiM1MzgyQTEiLz48cGF0aCBkPSJNMTQzLjk0MiAxNjUuNTE1YzE2LjY2IDE5LjE4LTQuMzc3IDM2LjQ0LTQuMzc3IDM2LjQ0czQyLjMwMS0yMS44MzcgMjIuODc0LTQ5LjE4M2MtMTguMTQ0LTI1LjUtMzIuMDU5LTM4LjE3MiA0My4yNjgtODEuODU4IDAgMC0xMTguMjM4IDI5LjUzLTYxLjc2NSA5NC42IiBmaWxsPSIjRTc2RjAwIi8+PHBhdGggZD0iTTIzMy4zNjQgMjk1LjQ0MnM5Ljc2NyA4LjA0Ny0xMC43NTcgMTQuMjczYy0zOS4wMjYgMTEuODIzLTE2Mi40MzIgMTUuMzkzLTE5Ni43MTQuNDcxLTEyLjMyMy01LjM2IDEwLjc4Ny0xMi44IDE4LjA1Ni0xNC4zNjIgNy41ODEtMS42NDQgMTEuOTE0LTEuMzM3IDExLjkxNC0xLjMzNy0xMy43MDUtOS42NTUtODguNTgzIDE4Ljk1Ny0zOC4wMzQgMjcuMTUgMTM3Ljg1MyAyMi4zNTYgMjUxLjI5Mi0xMC4wNjYgMjE1LjUzNS0yNi4xOTVNODguOSAxOTAuNDhzLTYyLjc3MSAxNC45MS0yMi4yMjggMjAuMzIzYzE3LjExOCAyLjI5MiA1MS4yNDMgMS43NzQgODMuMDMtLjg5IDI1Ljk3OC0yLjE5IDUyLjA2My02Ljg1IDUyLjA2My02Ljg1cy05LjE2IDMuOTIzLTE1Ljc4NyA4LjQ0OGMtNjMuNzQ0IDE2Ljc2NS0xODYuODg2IDguOTY2LTE1MS40MzUtOC4xODMgMjkuOTgxLTE0LjQ5MiA1NC4zNTgtMTIuODQ4IDU0LjM1OC0xMi44NDhtMTEyLjYwNSA2Mi45NDJjNjQuOC0zMy42NzIgMzQuODM5LTY2LjAzIDEzLjkyNy02MS42Ny01LjEyNiAxLjA2Ni03LjQxMSAxLjk5LTcuNDExIDEuOTlzMS45MDMtMi45OCA1LjUzNy00LjI3YzQxLjM3LTE0LjU0NSA3My4xODcgNDIuODk3LTEzLjM1NSA2NS42NDcgMCAuMDAxIDEuMDAzLS44OTUgMS4zMDItMS42OTciIGZpbGw9IiM1MzgyQTEiLz48cGF0aCBkPSJNMTYyLjQzOS4zNzFzMzUuODg3IDM1LjktMzQuMDM3IDkxLjEwMWMtNTYuMDcxIDQ0LjI4Mi0xMi43ODYgNjkuNTMtLjAyMyA5OC4zNzctMzIuNzMtMjkuNTMtNTYuNzUtNTUuNTI2LTQwLjYzNS03OS43MkMxMTEuMzk1IDc0LjYxMiAxNzYuOTE4IDU3LjM5MyAxNjIuNDM5LjM3IiBmaWxsPSIjRTc2RjAwIi8+PHBhdGggZD0iTTk1LjI2OCAzNDQuNjY1YzYyLjE5OSAzLjk4MiAxNTcuNzEyLTIuMjA5IDE1OS45NzQtMzEuNjQgMCAwLTQuMzQ4IDExLjE1OC01MS40MDQgMjAuMDE4LTUzLjA4OCA5Ljk5LTExOC41NjQgOC44MjQtMTU3LjM5OSAyLjQyMS4wMDEgMCA3Ljk1IDYuNTggNDguODMgOS4yMDEiIGZpbGw9IiM1MzgyQTEiLz48L3N2Zz4=');
    filter: drop-shadow(1px 1px 0 #fff);
  }

  .kotlin::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMjUgMTI1IiB3aWR0aD0iMjUwMCIgaGVpZ2h0PSIyNTAwIj48ZGVmcz48bGluZWFyR3JhZGllbnQgaWQ9ImIiIHgxPSItMjEuMDQ1IiB5MT0iMTE0LjkyNSIgeDI9Ijk1LjI3NCIgeTI9Ii0xLjM5NSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iLjEwOCIgc3RvcC1jb2xvcj0iI2M3NTdiYyIvPjxzdG9wIG9mZnNldD0iLjE3MyIgc3RvcC1jb2xvcj0iI2NkNWNhOSIvPjxzdG9wIG9mZnNldD0iLjQ5MiIgc3RvcC1jb2xvcj0iI2U4NzQ0ZiIvPjxzdG9wIG9mZnNldD0iLjcxNiIgc3RvcC1jb2xvcj0iI2Y4ODMxNiIvPjxzdG9wIG9mZnNldD0iLjgyMyIgc3RvcC1jb2xvcj0iI2ZmODkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJhIiB4MT0iMzkuODkzIiB5MT0iMTQ3LjU1MiIgeDI9Ijk2LjU4OSIgeTI9IjkwLjg1NiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iLjI5NiIgc3RvcC1jb2xvcj0iIzAwYWZmZiIvPjxzdG9wIG9mZnNldD0iLjY5NCIgc3RvcC1jb2xvcj0iIzUyODJmZiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzk0NWRmZiIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJjIiB4MT0iLTEuNTAxIiB5MT0iMzQuNTAxIiB4Mj0iMzguMjcyIiB5Mj0iLTUuMjczIiB4bGluazpocmVmPSIjYSIvPjwvZGVmcz48cGF0aCBmaWxsPSJ1cmwoI2IpIiBkPSJNNjIuNzU5IDBMMCA2NS45OTlWMTI1bDYyLjY2OS02Mi43NzlMMTI1IDBINjIuNzU5eiIvPjxwYXRoIGRhdGEtbmFtZT0iJmx0O1BhdGgmZ3Q7IiBmaWxsPSJ1cmwoI2EpIiBkPSJNMCAxMjVsNjIuNjY5LTYyLjc3OEwxMjUgMTI1SDB6Ii8+PHBhdGggZmlsbD0idXJsKCNjKSIgZD0iTTAgMGg2Mi43NTlMMCA2NS45OTlWMHoiLz48L3N2Zz4=');
  }

  .scala::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzOCIgaGVpZ2h0PSIyNTAwIiB2aWV3Qm94PSIwIDAgMjU2IDQxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij48ZGVmcz48bGluZWFyR3JhZGllbnQgeDE9IjAlIiB5MT0iNTAlIiB5Mj0iNTAlIiBpZD0iYSI+PHN0b3Agc3RvcC1jb2xvcj0iIzRGNEY0RiIgb2Zmc2V0PSIwJSIvPjxzdG9wIG9mZnNldD0iMTAwJSIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IHgxPSIwJSIgeTE9IjUwJSIgeTI9IjUwJSIgaWQ9ImIiPjxzdG9wIHN0b3AtY29sb3I9IiNDNDAwMDAiIG9mZnNldD0iMCUiLz48c3RvcCBzdG9wLWNvbG9yPSIjRjAwIiBvZmZzZXQ9IjEwMCUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBkPSJNMCAyODh2LTMyYzAtNS4zOTQgMTE2LjM3Ny0xNC40MjggMTkyLjItMzIgMzYuNjI4IDguNDkgNjMuOCAxOC45NjkgNjMuOCAzMnYzMmMwIDEzLjAyNC0yNy4xNzIgMjMuNTEtNjMuOCAzMkMxMTYuMzc2IDMwMi40MjUgMCAyOTMuMzkgMCAyODgiIGZpbGw9InVybCgjYSkiIHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIC0xIDAgNTQ0KSIvPjxwYXRoIGQ9Ik0wIDE2MHYtMzJjMC01LjM5NCAxMTYuMzc3LTE0LjQyOCAxOTIuMi0zMiAzNi42MjggOC40OSA2My44IDE4Ljk2OSA2My44IDMydjMyYzAgMTMuMDI0LTI3LjE3MiAyMy41MS02My44IDMyQzExNi4zNzYgMTc0LjQyNSAwIDE2NS4zOSAwIDE2MCIgZmlsbD0idXJsKCNhKSIgdHJhbnNmb3JtPSJtYXRyaXgoMSAwIDAgLTEgMCAyODgpIi8+PHBhdGggZD0iTTAgMjI0di05NmMwIDggMjU2IDI0IDI1NiA2NHY5NmMwLTQwLTI1Ni01Ni0yNTYtNjQiIGZpbGw9InVybCgjYikiIHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIC0xIDAgNDE2KSIvPjxwYXRoIGQ9Ik0wIDk2VjBjMCA4IDI1NiAyNCAyNTYgNjR2OTZjMC00MC0yNTYtNTYtMjU2LTY0IiBmaWxsPSJ1cmwoI2IpIiB0cmFuc2Zvcm09Im1hdHJpeCgxIDAgMCAtMSAwIDE2MCkiLz48cGF0aCBkPSJNMCAzNTJ2LTk2YzAgOCAyNTYgMjQgMjU2IDY0djk2YzAtNDAtMjU2LTU2LTI1Ni02NCIgZmlsbD0idXJsKCNiKSIgdHJhbnNmb3JtPSJtYXRyaXgoMSAwIDAgLTEgMCA2NzIpIi8+PC9zdmc+');
  }

}


#speaker {
  .previous, .next, article {
    background: var(--monkeyBof);
    color: white;
  }

  footer {
    display: none;
  }

  article figure {
    svg {
      width: 33vw;
    }

    figcaption {
      display: none;
    }
  }

}

#quizz_1 article {
  justify-content: center;
  align-items: center;

  pre.language-java::after {
    display: none;
  }

}

.steps.steps-replace {
  .step {
    display: none;
    max-width: 100%;

    &.step-current {
      display: block;
    }
  }
}

#parcours article, #filtre___sortie_rapide article {
  ul {
    font-size: 80%;
  }
}

#recursion_non_terminale article, #recursion_terminale article {
  font-size: 60%;

  & > ul {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
    grid-gap: 1em 1ch;


    .stack {
      display: grid;
      grid-auto-rows: 1rem;
      justify-items: center;
      background: var(--col2);
      border: thin solid rgba(0, 0, 0, .25);

      li {
        padding: .125em;
        border: thin solid rgba(0, 0, 0, .25);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

#recursion_terminale article > ul {
  grid-template-columns: 1fr;
}

#recursion_terminale___java {
  article, nav {
    background: black;
  }

  article {
    font-family: "Press Start 2P", monospace;
  }

  h4 {
    font-family: "Press Start 2P", monospace;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    margin: 0;

    color: #2f99ff;
    text-shadow: 0 2px #255fcc;
    animation: glitch-1 2s infinite linear;
  }

  span {
    color: white;
    text-transform: uppercase;
    text-align: center;
    animation: glitch-2 2s infinite linear;
  }

}

@keyframes glitch-1 {
  0%, 12%, 15%, 52%, 55%, 82%, 85%, 100% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
  13% {
    opacity: .8;
    transform: scaleY(2);
    color: #0ff;
  }
  53% {
    opacity: .8;
    transform: scaleX(.7);
    color: #f0f;
  }
  83% {
    opacity: 8;
    transform: rotate(-10deg);
    color: #ff0;
  }
}

@keyframes glitch-2 {
  13% {
    color: #0ff;
  }
  53% {
    color: #f0f;
  }
  83% {
    color: #ff0;
  }
}

#principe_recursion_terminale article {

  .language-javascript::after {
    content: unset;
  }
}

#stream_is_lazy article {

  li pre {
    text-align: left;
    background: #2b2b2b;
    color: #a9b7c6;
    padding: .25em;
    border-radius: .25em;
  }

  li {
    position: relative;
  }

  li.step-done:first-child::after {
    position: absolute;
    content: '✘';
    color: firebrick;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
  }
}

#sloth {
  background: url('sloth.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#operations_paresseuses___terminales {

  dt {
    font-weight: bold;
  }

  dd {
    display: inline;
    margin-left: 0;
  }

  dt + dd {
    margin-left: 2ch;
  }

  dd + dd::before {
    content: ', ';
  }

  dd + dt {
    margin-top: 1em;
  }
}


#imbrication___flatmap_2_2 article {

  ul {
    display: flex;

    li {
      margin: .5em;
    }
  }

  .focus {
    border: .1em solid darkorange;
  }

  .block {
    background-color: hsl(205, 100%, 82%);
    padding: .5em;
    border-radius: .25em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .block {
      background-color: hsl(121, 27%, 65%);
    }

    span {
      border-radius: .125em;
      padding: .25em;
      margin: .125rem;
      color: white;
      background-color: rgba(0, 0, 0, .5);
      text-align: center;

    }
  }
}

#bilan_stream article,
#bilan_stream___java article,
#kotlin_3_3 article,
#scala_3_4 article,
#scala_4_4 article {
  h4 {
    font-size: 2.5em;
  }
}

#montecarlo_ article {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: .125em;

  .montecarlo {
    position: relative;
    background-color: rgba(0, 0, 0, .1);
    background-image: radial-gradient(circle at bottom left, var(--monkeyBof), var(--monkeyBof) 70.71%, transparent 0);
    border: medium solid rgba(0, 0, 0, 25);
    --size: 10em;
    width: var(--size);
    height: var(--size);
    grid-column: 1 / -1;
    justify-self: center;

    .in, .out {
      position: absolute;
      display: inline-block;
      --size: 4px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      opacity: .75;
    }

    .in {
      background-color: yellow;
    }

    .out {
      background-color: black;
    }

    &::before {
      content: '(0, 0)';
      font-family: var(--font-mono);
      position: absolute;
      left: -6ch;
      bottom: -2ch;
      font-size: .5em;
    }
    &::after {
      content: '(1, 1)';
      font-family: var(--font-mono);
      position: absolute;
      right: -6ch;
      top: -2ch;
      font-size: .5em;
    }
  }

  .info {
    display: flex;
    justify-content: space-evenly;
  }

  .result {
    opacity: 0;

    .in::before {
      content: 'in: ';
    }

    .out::before {
      content: 'out: ';
      margin-left: 1em;
    }

    .count::before {
      content: 'count: ';
      margin-left: 1em;
    }
  }

  .pi {
    text-align: center;
  }

  button {
    font-size: 1rem;
  }

  button::after {
    content: ' points';
  }
}

#rust article {
  img {
    min-height: 80vh;
  }
  figcaption {
    display: none;
  }
}

#montecarlo___point article {
  pre.language-java {
    font-size: 66%;
  }
}

#montecarlo___performance_parallele article, #montecarlo___performance_parallele_2 article{
  .bar.charts .body {
    font-size: 75%;
  }
}
label[for='10_000_000_points_sur_openjdk__hotspot__8_0_202__span_class__java____span__stream_'],
label[for='10_000_000_points_sur_openjdk__hotspot__8_0_202__span_class__scala____span__stream_'],
label[for='10_000_000_points_sur_openjdk__hotspot__8_0_202__span_class__kotlin____span__sequence_'] {
  text-decoration: underline;
}
label[for='10_000_000_points_sur_openjdk__hotspot__8_0_202__span_class__java____span__stream__2'],
label[for='10_000_000_points_sur_openjdk__hotspot__8_0_202__span_class__scala____span__stream__2'],
label[for='10_000_000_points_sur_openjdk__hotspot__8_0_202__span_class__kotlin____span__sequence__2'] {
  text-decoration: double underline;
}


#separation_of_concerns article {
  figcaption {
    display: none;
  }

  img {
    max-height: 60vh;
  }

  .copyright {
    align-self: flex-start;
  }
}

#pas_tous_du_meme_avis article {
  a {
    background: none;
  }
}

#fp article {
  figcaption {
    display: none;
  }
}

#fp_ article {
  li:last-child {
    display: flex;
    justify-content: center;
  }

  blockquote {
    font-size: 80%;
  }
}


#crafters article {
  ul {
    max-width: 20em;
  }
}

@media print {

  #stream_is_lazy article {

    li:first-child::after {
      position: absolute;
      content: '✘';
      color: firebrick;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4em;
    }
  }
  #montecarlo___performance_1000_points,
  #montecarlo___performance_10m_points {
    article .math-ascii {
      font-size: 80%;
    }
  }
}