:root {

  // Font
  font-size: 4vh;
  // Help for font: https://fontpair.co/#sansserif-sansserif
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --base-font: Andika, sans-serif;
  --header-font: 'Amatic SC', sans-serif;
  --font-counter: var(--header-font);


  // Color
  // Help for color: https://colorhunt.co/palettes
  --colDark: #000;
  --colLight: #fff;

  // Blue
  //--col1: #f9f7f7;
  //--col2: #dbe2ef;
  //--col3: #3f72af;
  //--col4: #112d4e;

  // Green
  //--col1: #f4f9f4;
  //--col2: #a7d7c5;
  //--col3: #74b49b;
  //--col4: #5c8d89;

  // Turquoise
  --col1: #f4f7f7;
  --col2: #aacfd0;
  --col3: #79a8a9;
  --col4: #1f4e5f;

  // Grey
  //--col1: #fbf0f0;
  //--col2: #dfd3d3;
  //--col3: #b8b0b0;
  //--col4: #7c7575;

  --baseBg: var(--col1);
  --baseFg: var(--colDark);

  // Part
  --partBg: var(--col2);
  --partFg: var(--colDark);

  // Header
  --headerBg: linear-gradient(to right, transparent, hsla(0,100%,100%,.125)) var(--col2);
  --headerFg: var(--colDark);
  --counterBg: transparent;
  --counterFg: var(--headerFg);

  // Footer
  --footerLogo: transparent;
  --footerText: '@ilaborie';
  --footerBg: linear-gradient(to left, transparent, hsla(0,100%,100%,.125)) var(--col4);
  --footerFg: var(--colLight);

}

