@import "base";
//@import "partials/code-darcula";

:root {

  --col1: #fff;
  --col2: #222332;
  --col3: #6abfad;
  --col4: #222332;
  --col5: hsl(167, 40%, 58%,.5);
  --colskyline: #6c6978;

  --base-font: 'Noto Sans', var(--system-font);
  --header-font: 'Noto Sans', var(--system-font);

  // Header
  --headerFg: var(--col1);
  --headerBg: var(--col3);
  //--headerBg: linear-gradient(-.2turn, var(--col3), var(--col2) 20%, var(--col4) 0%);

  // Part
  --partBg: var(--col3);
  --partFg: var(--col1);

  // Footer
  --footerLogo: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%22416px%22%20height%3D%22176px%22%20viewBox%3D%220%200%20416%20176%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2051.3%20%2857544%29%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3ETNT%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%2F%3E%0A%20%20%20%20%3Cg%20id%3D%22Icon%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22big-icon%22%20transform%3D%22translate%28-238.000000%2C%20-58.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22TNT%22%20transform%3D%22translate%28238.000000%2C%2058.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22T%22%20transform%3D%22translate%28240.000000%2C%200.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20fill%3D%22%23222333%22%20x%3D%2260%22%20y%3D%22120%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20fill%3D%22%23222333%22%20x%3D%2260%22%20y%3D%2260%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20fill%3D%22%23222333%22%20x%3D%2260%22%20y%3D%220%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20fill%3D%22%23222333%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20fill%3D%22%23222333%22%20x%3D%22120%22%20y%3D%220%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Rectangle%22%20fill%3D%22%236ABFAD%22%20points%3D%220%200%2056%2056%200%2056%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22N%22%20transform%3D%22translate%28120.000000%2C%2060.000000%29%22%20fill%3D%22%236ABFAD%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%220%22%20y%3D%2260%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Rectangle%22%20points%3D%2260%2060%20116%2060%20116%20116%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Rectangle%22%20points%3D%2260%200%20116%2056%2060%2056%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%22120%22%20y%3D%220%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%22120%22%20y%3D%2260%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22T%22%20fill%3D%22%23222333%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%2260%22%20y%3D%22120%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%2260%22%20y%3D%2260%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%2260%22%20y%3D%220%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%22120%22%20y%3D%220%22%20width%3D%2256%22%20height%3D%2256%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Rectangle%22%20fill%3D%22%236ABFAD%22%20points%3D%22120%200%20176%2056%20120%2056%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');

  --footerFg: var(--col2);
  //--footerBg: var(--col4);
  --footerBg: transparent;

}

main > section > article {
  background: transparent;
}
main > section {
  & > footer {
    box-shadow: none;
  }
}

main > section > article code:not([class*="language-"]):not([class*="raw-"]) {
  background: var(--col5);
  border: thin solid rgba(0, 0, 0, .25);
}

