
main > section > footer {
  background: var(--footerBg);
  color: var(--footerFg);

  &::before {
    margin-left: .25em;
    content: var(--footerText);
    text-shadow: .05em .05em rgba(0, 0, 0, 0.5);
  }

  &::after {
    content: '';
    background: var(--footerLogo);
  }
}