
main > section > nav {
  color: rgba(0, 0, 0, .1);
  background: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  a {
    font-size: 2rem;
    color: inherit;
  }

  a, a:hover {
    text-decoration: none;
  }

  a:focus, a:hover {
    color: rgba(0, 0, 0, .25);
  }

  a::before {
    content: '☞';
  }

  &.previous {
    transform: scaleX(-1);
  }

}
