:root {

  // Companies
  --monkeyBof: #00b0ff;

  // Footer
  --footerText: '@RivieraDEV @EmmanuelVinas @ilaborie #Kotlin';
}

// FIXME try a https://github.com/codrops/LiquidDistortion/ for cover
// FIXME or https://codepen.io/pierrinho/pen/wrEaEV

// TODO use a https://www.heropatterns.com/ as background with

.monkeyPatch {
  background: var(--monkeyBof);
  color: white;
}

.list-inline li > figure > img {
  height: 4em;
}

figure > svg {
  height: 4em;
  max-width: 6em;

  path {
    background-color: hsla(0, 100%, 100%, .25);
  }
}

table thead figure {
  font-size: 67%;
}

body > header {
  font-size: 60%;
}

//main > section.part > article {
//  figure > svg {
//    height: 8em;
//    max-width: 8em;
//
//  }
//}

section article {
  figure figcaption {
    display: none;
  }
}

section.code.hex article {
  pre.language-hex {
    overflow: auto;
  }
}

// Slides

.cover {
  background-image: url('cover.png');
  background-size: cover;

  h1 {
    color: var(--col1);
    text-shadow: 0.025rem 0.025rem .125em rgba(0, 0, 0, 0.5);
  }
}

.part {
  img {
    height: 6em;
  }

  figcaption {
    display: none;
  }
}

#speakers {

  .previous, .next {
    @extend .monkeyPatch;
    // Fix a glitch
    box-shadow: 0 0 0 1px var(--monkeyBof);
  }

  footer {
    display: none;
  }

  article {
    font-size: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    grid-column-gap: 2em;
    //background: linear-gradient(to right, white 50%, var(--monkeyBof) 0);
    background: var(--monkeyBof);

    figure {
      grid-column: span 2;
      align-self: center;

      img {
        max-height: 25vh;
        width: 100%;
      }

      figcaption {
        display: none;
      }
    }
  }
}

//
.roadmap article {

}


#javac article {
  figure {
    height: 100%;
    align-self: stretch;
  }
  svg {
    height: 100%;
    width: 75vw;
    max-width: 75vw;
  }
}

#java_bytecode_binary article {
  pre.language-bash {
    font-size: 75%;
    flex: 0 0 auto;
  }
  pre.language-hex {
    font-size: 50%;
    flex: 0 1 auto;
  }
}

#explorons_le_bytecode article {
  justify-content: space-evenly;
  pre.language-bash {
    font-size: 75%;
    flex: 0 0 auto;
  }
  pre.language-txt {
    font-size: 50%;
    flex: 0 1 auto;
  }
}


#bytecode-details article {
  ul li:nth-child(2) {
    margin-bottom: 1.5em;
  }
}
#bytecode-play > article {
  font-size: 50%;

  .constants {
    //font-size: 50%;
    max-height: 50vh;
    overflow: auto;
  }
  menu {
    position: relative;
  }
  .catnip .frames {
    background: transparent;
    margin-left: 5vh;
    margin-right: 5vh;
    max-height: 50vh;
    overflow: auto;
  }
  menu button {
    font-size: 1rem;
    position: absolute;
    top: -1.5em;
    right: 1em;
  }
}