:root {

  --litElementBg: linear-gradient(315deg, #8FCDFF 0%, #2196F3 100%);

  // Companies
  --monkeyBof: #00b0ff;
  --toptal: #3863a0;

  // Colors
  --colDark: #212529;
  --col1: #212529;

  --baseFg: var(--colLight);
  --partFg: var(--colLight);
  --headerFg: var(--colLight);
  --tocFg: var(--colLight);

  // Footer
  --footerText: '@julienrenaux @ilaborie #DevoxxFR #webcomponents';
}

.cover {
  h1 {
    font-size: 2em;

    &::after {
      content: ':'
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-self: stretch;

    figure {
      img {
        height: 4em;
      }
    }
  }
}


main > section > footer {
  &::before {
    text-shadow: none;
  }
}