:root {

  --litElementBg: linear-gradient(315deg, #8FCDFF 0%, #2196F3 100%);

  // Companies
  --monkeyBof: #00b0ff;
  --toptal: #3863a0;

  // Colors
  --colDark: #212529;
  --col1: var(--colDark);
  --col2: var(--colDark);
  --col3: var(--colDark);

  --baseFg: var(--colLight);
  --partFg: var(--colLight);
  --headerFg: var(--colLight);
  --tocFg: var(--colLight);

  // Footer
  --footerText: '@julienrenaux @ilaborie #DevoxxFR #webcomponents';
}

.toptal {
  background: white;
  color: var(--toptal);
}

.monkeyPatch {
  background: var(--monkeyBof);
  color: white;
}

main > section > footer {
  &::before {
    text-shadow: none;
  }
}

.cover {
  h1 {
    font-size: 2em;

    &::after {
      content: ':'
    }
  }

  img {
    height: 4em;
  }
}

#speakers {

  .previous {
    @extend .toptal;
    // Fix a glitch on Chrome
    box-shadow: 0 0 0 1px white;
  }

  .next {
    @extend .monkeyPatch;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    grid-column-gap: 2em;
    //background: linear-gradient(to right, white 50%, var(--monkeyBof) 0);
    background: linear-gradient(92deg, white 50%, var(--monkeyBof) 0);
  }

}